@font-face {
    font-family: Caprasimo;
    src: url(assets/fonts/Caprasimo-Regular.ttf);
}

@font-face {
    font-family: Fasthand;
    src: url(assets/fonts/Fasthand-Regular.ttf);
}

.big-header {
    font-family: Caprasimo;
    font-size: 34px;
}

.paragraph-header {
    font-family: Fasthand;
    font-size: 32px;
}

.header {
    font-family: Caprasimo;
    font-size: 30px;
}

.paragraph {
    font-family: monospace;
    font-size: 22px;
}

.last-header {
    font-family: Fasthand;
    font-size: 24px;
}
